<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
</head>
<body>
  <div class="container">
      <div class="card">
          <div class="card-header">
            Explore Things!!
          </div>
          <div class="card-body">
            <h5 class="card-title">Details on Projects , Teams, Locations</h5>
            <p class="card-text">For more select the options</p>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Explore
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Locations</a>
                  <a class="dropdown-item" href="#">Projects</a>
                  <a class="dropdown-item" href="#">Teams</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    
    
</body>
</html>
