<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
</head>
<body>
  <div class="container">
      <div class="card">
          <div class="card-header">
            Explore Things!!
          </div>
          <div class="card-body">
            <h5 class="card-title">Details on Projects , Teams, Locations</h5>
            <p class="card-text">For more select the options</p>
            <div ngbDropdown class="dropdown">
                <button ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore the options</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" routerLink="/explore/locations">Locations</a>
                  <a class="dropdown-item" routerLink="/explore/projects">Projects</a>
                  <a class="dropdown-item" routerLink="/explore/teams">Teams</a>
                </div>
            </div>
            
<div class="form-group">
    <label for="businessType">Business Type<span style="color:red">*</span></label>
    <div class="select-box">
    <label>
    <select (change)="redirct123(dropdownValue)" class="form-control form-control-sm" id="businessType" required [(ngModel)]="dropdownValue" name="businessType"
    #businessType="ngModel" aria-placeholder="select">
    <option [value]="explore/locations">1</option>
    <option [value]="explore/projects">2</option>
    <option [value]="explore/teams">3</option>
    </select>
    </label>
    </div>
    
    
    </div>
            </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
