body {
    overflow-x: hidden;
    background-color:rgb(3, 3, 97);
  }
  
  .navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  
  .navbar .nav-item.active {
    border-left: #444 3px solid;
  }