<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>GrassHopper Co.</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <!-- Bootstrap core CSS-->
        <link href="./../../assets/dashboard/newDashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template--> 
        <link href="./../../assets/dashboard/newDashboard/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="./../../assets/dashboard/newDashboard/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="./../../assets/dashboard/newDashboard/css/sb-admin.css" rel="stylesheet">
    </head>

    <body class="fixed-nav sticky-footer" id="page-top">
        <!-- Navigation-->
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">GrassHopper Co.</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" [routerLink]="['/dashboard']">
              <i class="fas fa-tachometer-alt"></i>&nbsp;
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link"[routerLink]="['/explore']">
              <i class="fas fa-bars"></i>&nbsp;
            <span class="nav-link-text">Explore</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" [routerLink]="['/reports']">
              <i class="fas fa-inbox"></i>&nbsp;
            <span class="nav-link-text">Reports</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="">
              <i class="far fa-life-ring"></i>&nbsp;
            <span class="nav-link-text">Help</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="">
              <i class="fas fa-comments"></i>&nbsp;
            <span class="nav-link-text">FeedBack</span>
          </a>
        </li>
     
      
       
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
              <i class="fas fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        
       <!--<li class="nav-item dropdown">
          <a class="nav-link mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <i class="fas fa-bell"></i>
            <div class="new-alert">4</div>
          </a>
         <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">New Alerts:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                    <i class="fas fa-long-arrow-up"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                    <i class="fas fa-long-arrow-down"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                    <i class="fas fa-long-arrow-up"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all alerts</a>
          </div>
        </li>-->
       
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
              <i class="fas fa-user-circle"></i> Logout</a>
        </li>
      </ul>
    </div>
  </nav>

        <div class="inner-wrapper">
            <div class="content-wrapper">
                <div class="row">
                   <div class="col-lg-4 pl-0 pr-0 left-section border-right">
                        <div class="pl-4 pr-0 pr-2  border-top border-bottom search-main-block">
                            <div class="input-group ">
                                <div class="dropdown input-group-addon show-on-hover pull-left">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       Projects 
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" [routerLink]="['/explore/projects']">Projects</a>
                                            <a class="dropdown-item" [routerLink]="['/explore/locations']">Location</a>
                                            <a class="dropdown-item" [routerLink]="['/explore/programs']">Programs</a>
                                            <a class="dropdown-item" [routerLink]="['/explore/products']">Products</a>
                                            <a class="dropdown-item" [routerLink]="['/explore/teams']">Teams</a>
                                    </div>
                                </div> 

                                <!--<div class="dropdown search input-group-addon  ml-auto">
                                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-search"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group serch-box">
                                                <input class="form-control "  placeholder="What are you lokking for?" type="text">
                                            </div>
                                            <label for="filter" class="pl-2">Recently Searched</label>
                                                <ul class="list-group">
                                                    <li class="list-group-item">Cras justo odio</li>
                                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                                    <li class="list-group-item">Morbi leo risus</li>
                                                    <li class="list-group-item">Porta ac consectetur ac</li>
                                                    <li class="list-group-item">Vestibulum at eros</li>
                                                </ul>
                                        </form>
                                    </div>
                                </div>-->
                                

                            </div>
                        </div>
                        <div *ngFor ="let project of projects" class="tree pl-3 pr-2 ">
                            <ul id="tree1">
                                <li (click) = "getProjectDetail(project.id)"><span>ID: {{project.id}}, {{project.name}}</span>

                                   <!--<ul>
                                        <li><span>Program A</span>
                                            <ul>
                                                <li><span>Project A1</span>
                                                </li>
                                                <li><span>Project A2</span></li>
                                            </ul>
                                        </li>
                                        <li><span>Program B</span>
                                            <ul>
                                                <li><span>Project A1</span>
                                                    <ul>
                                                        <li><span>Team A2-X</span></li>
                                                        <li><span>Team A2-Y</span></li>
                                                        <li><span>Team A2-Z</span></li>
                                                    </ul>
                                                </li>
                                                <li><span>Project A2</span></li>
                                            </ul>
                                        </li>
                                        <li><span>Program C</span>
                                            <ul>
                                                <li><span>Reports</span>
                                                    <ul>
                                                        <li><span>Report1</span></li>
                                                        <li><span>Report2</span></li>
                                                        <li><span>Report3</span></li>
                                                    </ul>
                                                </li>
                                                <li><span>Employee Maint.</span></li>
                                            </ul>
                                        </li>
                                    </ul>-->
                                </li>
                                <!--<li><span>Product B</span>
                                    <ul>
                                        <li><span>Reports</span>
                                            <ul>
                                                <li><span>Report1</span></li>
                                                <li><span>Report2</span></li>
                                                <li><span>Report3</span></li>
                                            </ul>
                                        </li>
                                        <li><span>Employee Maint.</span></li>
                                    </ul>
                                </li>-->
                               

                            </ul>
                        </div>


                    </div>
                 <div class="col-lg-8 pr-4 pt-3">
                        <h3>{{projectDetail.name}}</h3>
                        <p></p>

                        <div class="row">
                            <div class="col-sm">
                                <h6 class="text-uppercase mt-4">Project Details</h6>
                                <div class="list-group-item rounded list-one mb-3">
                                    <div class="media align-items-center">
                                        <div class="user-logo border rounded-circle">
                                            <img src="./../../assets/dashboard/newDashboard/img/user.png" alt="user" />
                                        </div>
                                        <div class="media-body">  
                                            <strong>{{projectDetail.projectManager}}</strong> 
                                            <div class="text-muted font-13 font-weight-light">Program Manager</div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="list-group-item rounded list-one mb-3">
                                    <div class="media align-items-center">
                                        <div class="user-logo border rounded-circle">
                                            <img src="./../../assets/dashboard/newDashboard/img/user.png" alt="user" />
                                        </div>
                                        <div class="media-body">  
                                            <strong>{{projectDetails.projectManager}}</strong> 
                                            <div class="text-muted font-13 font-weight-light">Project Manager</div>
                                        </div>
                                    </div>
                                </div>-->
                              

                            </div>
                            <div class="col-sm ">
                                <h6 class="text-uppercase mt-4">Location </h6>
                               
                                 <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <div class="">
                                                <img src="./../../assets/dashboard/newDashboard/img/Denmark.jpg" width="33" alt="user">
                                            </div>
                                            <div class="media-body">  
                                                <strong>{{projectDetail.locations[0].name}}</strong> 
                                            </div>
                                        </div>
                                    </li>

                                 <!--<li class="list-group-item">
                                    <div class="media align-items-center">
                                        <img src="./../../assets/dashboard/newDashboard/img/flag-of-India.png" width="33" alt="user">
                                        <div class="media-body">  
                                            <strong>India - Bangalore</strong> 
                                        </div>
                                    </div>
                                </li>
                                 <li class="list-group-item">
                                    <div class="media align-items-center">
                                        <img src="./../../assets/dashboard/newDashboard/img/flag-of-India.png" width="33" alt="user">
                                        <div class="media-body">  
                                            <strong>India - Delhi</strong> 
                                        </div>
                                    </div>
                                </li>-->
                                 </ul>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-uppercase  mt-4">Technologies</h6>
                            </div>
                            <div class="d-flex col-sm-4 align-items-stretch">
                                <div class="list-group-item w-100 list-one mb-3">
                                    <div class="media align-items-center">
                                        <div class="">
                                            <i class="fab fa-connectdevelop"></i>
                                        </div>
                                        <div *ngFor="let technology of projectDetail.technologies" class="media-body">  
                                            <strong>{{technology.name}}</strong> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="d-flex col-sm-4 align-items-stretch">
                                <div class="list-group-item w-100 list-one mb-3">
                                    <div class="media align-items-center">
                                        <div class="">
                                            <i class="fab fa-connectdevelop"></i>
                                        </div>
                                        <div class="media-body">  
                                            <strong>NLP</strong> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex col-sm-4 align-items-stretch">
                                <div class="list-group-item w-100 list-one mb-3">
                                    <div class="media align-items-center">
                                        <div class="">
                                             <img src="./../../assets/dashboard/newDashboard/img/java.png" width="25" alt="user">
                                        </div>
                                        <div class="media-body">  
                                            <strong>Java  Enterprise</strong> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="d-flex col-sm-4 align-items-stretch">
                                <div class="list-group-item w-100 list-one mb-3">
                                    <div class="media align-items-center">
                                        <div class="">
                                            <i class="fab fa-amazon"></i>
                                        </div>
                                        <div class="media-body">  
                                            <strong>Amazon (AWS)</strong> 
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-uppercase  mt-4 ">Teams</h6>
                            </div>
                            <div *ngFor ="let team of projectDetail.teams" class="d-flex col-sm-4 align-items-stretch">
                                <div class="list-group-item w-100 list-one mb-3">
                                    <div class="text-muted font-13 font-weight-light"><img src="./../../assets/dashboard/newDashboard/img/Denmark.jpg" width="20" alt="user"></div>
                                    <div class="media align-items-center">
                                        <div class="media-body pt-2 text-center">  
                                            <strong>{{team.name}}</strong> 
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="d-flex col-sm-4 align-items-stretch">
                                <div class="list-group-item w-100 list-one mb-3 disabledbutton">
                                    <div class="text-muted font-13 font-weight-light"><img src="./../../assets/dashboard/newDashboard/img/flag-of-China.png" width="20" alt="user"> China -Whoi Hong</div>
                                    <div class="media align-items-center">
                                        <div class="media-body pt-2 text-center">  
                                            <strong>Team A2-Y</strong> 
                                            <div class="text-muted font-15 font-weight-light">Whoi Hong</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex col-sm-4 align-items-stretch">
                                <div class="list-group-item w-100 list-one mb-3">
                                    <div class="text-muted font-13 font-weight-light"><img src="./../../assets/dashboard/newDashboard/img/flag-of-india.png" width="20" alt="user"> China -Whoi Hong</div>
                                    <div class="media align-items-center">
                                        <div class="media-body pt-2 text-center">  
                                            <strong>Team A2-Z</strong> 
                                            <div class="text-muted font-15 font-weight-light">Whoi Hong</div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                          
                          

                        </div>
                    </div>

                </div>

            </div>

         
            <!-- /.container-fluid-->
            <!-- /.content-wrapper-->
           
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
            <!-- Bootstrap core JavaScript-->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Core plugin JavaScript-->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
            <!-- Page level plugin JavaScript-->
            <script src="vendor/chart.js/Chart.min.js"></script>
            <!--    <script src="vendor/datatables/jquery.dataTables.js"></script>
            <script src="vendor/datatables/dataTables.bootstrap4.js"></script>-->
            <!-- Custom scripts for all pages-->
            <script src="js/sb-admin.js"></script>
            <script src="./../../assets/dashboard/newDashboard/js/custome.js"></script>
            <!-- Custom scripts for this page-->
            <!--<script src="js/sb-admin-datatables.min.js"></script>-->
            <!--<script src="js/sb-admin-charts.min.js"></script>-->

    </body>

</html>
