<div  class="container">
    <div *ngFor = "let project of exploreProjects" class="row">
        <div  class="col-lg-4 col-md-6 col-sm-4" style="width:20%; column-gap: 10px">
            <div class="card bg-light mb-4" style="max-width: 15rem;">
              <div class="card-header">
                Project: {{project.name}}, <br> Description: {{project.description}} <br>Manager: {{project.projectManager}}<br>
                DeadLine: {{project.projectDeadline}}
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-4" style="width:20%;  column-gap: 10px">
            <div class="card bg-light mb-4" style="max-width: 15rem;">
              <div class="card-header">
                Location: {{project.locations[0].locationId}}, {{project.locations[0].locationName}}
              </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-4" style="width:20%; column-gap: 10px">
            <div class="card bg-light mb-4" style="max-width: 15rem;">
              <div class="card-header">
                  Technology: {{project.technologies[0].technologyId}},{{project.technologies[0].technologyName}}
              </div>
            </div>
          </div>
      </div>
  </div>
  